<table>
    <tr>
        <td><a href="/">Home</a></td>
        <td><a href="/Chess_Openings/KingsIndian.html">KingsIndian</a></td>
        <td><a href="/Chess_Openings/Scandi.html">Scandi</a></td>
        <td><a href="/Chess_Openings/Scillian.html">Scillian</a></td>
        <td><a href="/Chess_Openings/TheFrench.html">Activities</a></td>
        <td><a href="/Chess_Openings/Caro.html">Caro</a></td>
        <td><a href="/Chess_Openings/Vienna.html">Gallery</a></td>
        <td><a href="/Chess_Openings/London.html">London</a></td>
        <td><a href="/Chess_Openings/RuyLopez.html">RuyLopez</a></td>
        <td><a href="/Chess_Openings/KingsGambit.html">Kings Gambit</a></td>
        <td><a href="/Chess_Openings/Scotch.html">Scotch</a></td>
    </tr>
</table>
