<table>
    <tr>
        <td><a href="/">Home</a></td>
        <td><a href="/KingsIndian">KingsIndian</a></td>
        <td><a href="/Scandi">Scandi</a></td>
        <td><a href="/Scillian">Scillian</a></td>
        <td><a href="/TheFrench">Activities</a></td>
        <td><a href="/Caro">Caro</a></td>
        <td><a href="/Vienna">Gallery</a></td>
        <td><a href="/London">London</a></td>
        <td><a href="/RuyLopez">RuyLopez</a></td>
        <td><a href="/KingsGambit">Kings Gambit</a></td>
        <td><a href="/Scotch">Scotch</a></td>
    </tr>
</table>
