<table>
    <tr>
        <td><a href="/">Home</a></td>
        <td><a href="/KingsIndian.html">KingsIndian</a></td>
        <td><a href="/Scandi.html">Scandi</a></td>
        <td><a href="/Scillian.html">Scillian</a></td>
        <td><a href="/TheFrench.html">Activities</a></td>
        <td><a href="/Caro.html">Caro</a></td>
        <td><a href="/Vienna.html">Gallery</a></td>
        <td><a href="/London.html">London</a></td>
        <td><a href="/RuyLopez.html">RuyLopez</a></td>
        <td><a href="/KingsGambit.html">Kings Gambit</a></td>
        <td><a href="/Scotch.html">Scotch</a></td>
    </tr>
</table>
